* {
    box-sizing: border-box;
}

h1 {
text-align: center;
vertical-align: middle;
}

.header {
text-align: center;
background: #ccc;
padding: 15px;
}

[class*="col-"] {
float: left;
padding: 15px;
}


.col-3 {
width: 25%;
text-align: initial;
height: 80vh;
text-align: center;
word-wrap: nowrap;
word-break: break-word;
}

.col-3 ul  {
list-style-type: none;
margin: 0;
padding: 0;

}

.col-3 li {
padding: 8px;
background: #ddd;
margin-bottom: 7px;
box-shadow: 0 1px 5px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.19);
transition: .3s;
}

.col-3 li:hover {
background: #eee;
}
.col-9 {
width: 75%;
text-align: justify;
line-height: 1.5em;
columns: 100px 2;
column-gap: 30px;
column-rule: 2px solid; 


}

.col-9 h1 {
column-span: all;
}

.row::after {
content: "";
display: table;
clear: both;
}

/* Grid column
=============================
.col-1  {width: 8.33%;}
.col-2  {width: 16.66%;}
.col-3  {width: 25%;}
.col-4  {width: 33.33%;}
.col-5  {width: 41.66%;}
.col-6  {width: 50%;}
.col-7  {width: 58.33%;}
.col-8  {width: 66.66%;}
.col-9  {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

*/


@media screen and (max-width: 699px) {
.col-9, .col-3 {width:100%;}

.col-9 {margin-top: -270px;
        padding-top: 0;
        columns: initial;}

}









